.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "links-list image address";
  margin-bottom: 96px;
  padding-top: 92px;
  padding-right: 24px;
  padding-left: 24px;
}

.header__links-list {
  display: flex;
  grid-area: links-list;
  align-items: center;
  gap: 32px;
  padding-top: 44px;
  padding-left: 25px;
  font-size: 18px;
  text-underline-offset: 4px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active .header__link {
  text-decoration: none;
}

.header__logo {
  display: block;
  grid-area: image;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  grid-area: address;
  justify-self: end;
  padding-top: 5px;
  padding-right: 25px;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
}

.address__item {
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  padding-top: 165px;
  padding-right: 50px;
  padding-left: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  padding-top: 13px;
  padding-right: 27px;
  text-align: center;
}

.aligned-text_right {
  display: block;
  padding-top: 5px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover-description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 77px;
  margin: 135px 55px 0;

}

.cover-description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  border: 1px solid #fff;
  color: white;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  padding: 12px 32px;
}

.lots__heading {
  color: #000;
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-top: 179px;
margin-left: 64px;
margin-bottom: 27px;
}
